# ===============================
# API CONFIG
# ===============================

IQAIR_API_KEY=


# ===============================
# DATABASE CONFIG
# ===============================

DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=

# ===============================
# AIRFLOW CONFIG
# ===============================

AIRFLOW_UID=50000
AIRFLOW__CORE__EXECUTOR=
AIRFLOW__CORE__LOAD_EXAMPLES=
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW__WEBSERVER__SECRET_KEY=