# ===============================
# ENVIRONMENT VARIABLES
# ===============================

.env
.env.*
*.env


# ===============================
# PYTHON
# ===============================

__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*

*.so
*.egg
*.egg-info/
dist/
build/


# ===============================
# VIRTUAL ENVIRONMENT
# ===============================

venv/
.env_venv/
.venv/


# ===============================
# AIRFLOW
# ===============================

logs/
airflow.db
airflow.cfg


# ===============================
# IDE / EDITOR
# ===============================

.vscode/
.idea/


# ===============================
# OS FILES
# ===============================

.DS_Store
Thumbs.db


# ===============================
# TEST / COVERAGE
# ===============================

.coverage
htmlcov/
.pytest_cache/


# ===============================
# JUPYTER
# ===============================

.ipynb_checkpoints


# ===============================
# DOCKER
# ===============================

*.log
docker-compose.override.yml